@{
    var avatarUrl = Context.User.Claims.FirstOrDefault(c => c.Type == "Avatar");
    Console.WriteLine(avatarUrl);
    if(avatarUrl != null)
        Console.WriteLine(avatarUrl.Value == string.Empty);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inmobiliaria Bustillos | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/testNetMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lists.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toast.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/spinner.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon"/>
    <script src="~/js/header.js" defer asp-append-version="true" ></script>
    <script src="~/js/site.js" defer asp-append-version="true" ></script>
    <script src="https://kit.fontawesome.com/dc8ad386a2.js" crossorigin="anonymous" asp-append-version="true" ></script>
</head>
<body>
    <header>
        <nav class="my-navbar">
            <div class="logo-div">
                <a class="home-link" asp-area="" asp-controller="Home" asp-action="Index" tabindex="1">
                    <img class="logo-header" src="~/favicon.ico" alt="inmobiliaria logo">
                    <div>
                        <span>Inmobiliaria</span>
                        <span>bustillos</span>
                    </div>
                </a>
            </div>
            <div  class="menues-div">
                <div class="menu-point-div" tabindex="2">
                    <span class="menu-label">Propietarios</span>
                    <ul class="menu-ul">
                        <li class="menu-item menu-indicator" tabindex="3">
                            <a asp-action="Index" asp-controller=@nameof(Owner)>
                                Ver todos
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-point-div" tabindex="6">
                    <span class="menu-label">Inquilinos</span>
                    <ul class="menu-ul">
                        <li class="menu-item menu-indicator" tabindex="3">
                            <a asp-action="Index" asp-controller=@nameof(Renter)>
                                Ver todos
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-point-div" tabindex="15">
                    <span class="menu-label">Inmuebles</span>
                    <ul class="menu-ul">
                        <li class="menu-item" tabindex="16">
                            <a asp-action="Index" asp-controller=@nameof(Property)>
                                Ver todos
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-point-div" tabindex="11">
                    <span class="menu-label">Contratos</span>
                    <ul class="menu-ul">
                        <li class="menu-item" tabindex="16">
                            <a asp-action="Index" asp-controller=@nameof(Contract)>
                                Ver todos
                            </a>
                        </li>
                    </ul>
                </div>
                @if(Context.User.IsInRole("admin")){
                    <div class="menu-point-div" tabindex="19">
                        <span class="menu-label">Usuarios</span>
                        <ul class="menu-ul">
                            <li class="menu-item" tabindex="20">
                                <a asp-action="Index" asp-controller="User">
                                    Ver todos
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                <div class="user-profile-menu">

                    <button 
                        class="profile-menu-btn" 
                        @* onclick="show(event)" *@
                    >
                        <img class="btn-img" src="~/images/down_arrow.png" alt="cerrar sesión">
                        @Context.User.Identity.Name
                    </button>
                    <div class="profile-menu-actions hidden">
                        <a
                            asp-action="Profile" asp-controller="User"
                            class="profile-menu-item my-profile" 
                        >
                            <img class="btn-img" src="~/images/new_person.png" alt="cerrar sesión">
                            Mis datos
                        </a>
                        <a 
                            class="profile-menu-item logout-btn" 
                            asp-action="Logout" asp-controller="Home"
                        >
                            <img class="btn-img" src="~/images/logout.png" alt="cerrar sesión">
                            Salir
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @{
            @if(TempData.Peek("ProcessMsg") != null)
            {
                <div class="tempMsg">
                    <h3>@TempData.Peek("ProcessMsg")</h3>
                    <img class="close-temp-msg" src="~/images/close_icon.png" alt="cerrar mensaje temporal" onclick="closeTempMsg()">
                </div>
                TempData.Remove("ProcessMsg");
            }
        }
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
