@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewData["Title"] = "Error";
}
<section class="home-section">
    <h1 class="home-title">Hubo un problema :/</h1>
    <h2 class="home-subtitle">Por favor intenta más tarde.</span></h2>
</section>