@{
    ViewData["Title"] = "Home";
    var user = Context.User.Identity.Name;
    @* var types = @Html.Raw(Json.Serialize(ViewBag.types)); *@
}

<section class="home-section section">
    <h1 class="home-title">Bienvenido <span id="user_name">@user</span></h1>
    <h2 class="home-subtitle">Has iniciado sesión como <span>administrador</span></h2>
</section>

<script>
    @* document.querySelector("#user_name").innerHTML = localStorage.getItem("user_name"); *@
</script>