@{
    ViewData["Title"] = "Home";
    var user = Context.User.Identity.Name;
    @* var types = @Html.Raw(Json.Serialize(ViewBag.types)); *@
}

<section class="home-section section">
    <h1 class="home-title">Bienvenido <span id="user_name">@user</span></h1>
    <h2 class="home-subtitle">Has iniciado sesión como 
        @if(Context.User.IsInRole("admin")){
            <span>Administrador</span>
        }else{
            <span>Empleado</span>
        }
    </h2>
</section>

<script>
</script>