.form,
.form-detail {
  width: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  gap: 2rem;
  border-radius: 10px;
  border: 1px solid darkslategrey;
}

.form-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.form-row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-label {
  width: 100px;
  text-transform: capitalize;
}

.input-error {
  position: absolute;
  font-size: 0.85rem;
  color: #ea4d4d;
  display: none;
  text-transform: uppercase;
  padding-left: 1rem;
  top: 100%;
}

.form-input,
.form-detail-field {
  padding: 0.3rem 1rem;
  width: 300px;
}

.form-input-select {
  /* flex: 1; */
  display: flex;
  background: transparent;
  border: 1px solid;
}

.form-detail {
  width: 400px;
}

.form-detail-props {
  width: 600px;
}

.form-detail > .form-title {
  text-align: left;
  padding-left: 2rem;
}

.form-detail > .form-title-props {
  text-align: center;
  padding-left: 0;
}

.form-detail-field {
  color: black;
  border: none;
  width: 200px;
}

.invalid:not(:focus) ~ .input-error,
.error-watcher:not(:focus):invalid ~ .input-error {
  display: block;
}

#owner-input:not(:focus):invalid ~ .input-error {
  inset: 0;
  top: 100%;
}

.error-watcher:not(:focus):invalid,
.invalid:not(:focus) {
  border-color: #ea4d4d;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-buttons,
.details-form-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}

.form-buttons > button,
.details-form-actions > button {
  padding: 0.1rem 0.4rem;
  border: none;
  font-size: 1.2rem;
  border: 1px solid transparent;
}

.form-buttons > button:hover,
.details-form-actions > button:hover {
  cursor: pointer;
}

.form-buttons > button:hover,
.details-form-actions > button:hover,
.form-buttons > button:focus-within,
.details-form-actions > button:focus-within {
  scale: 1.1;
}

.form-buttons > .confirm-btn,
.details-form-actions > .confirm-btn,
.form-buttons > .create-contract-btn-btn,
.details-form-actions > .create-contract-btn-btn {
  background: #8fbc8f;
  border-color: #67a167;
}

.form-buttons > .cancel-btn,
.details-form-actions > .cancel-btn {
  background: #afd3f0;
  border-color: #89c0ee;
}

.form-buttons > .disabled-btn:hover,
.details-form-actions > .disabled-btn:hover,
.form-buttons > .disabled-btn:focus-within,
.details-form-actions > .disabled-btn:focus-within {
  scale: none;
  cursor: auto;
}

.options-div,
.renters-options-div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.options-div .options-modal,
.renters-options-div .renters-options-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  background-color: white;
}

.option-span {
  padding: 0.3rem 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-left-color: darkgray;
  border-right-color: darkgray;
  background: white;
}

.option-span:last-child {
  border-bottom-color: darkgray;
}
.option-span:hover {
  border-color: darkgray;
}

.details-form-actions {
  justify-content: space-around;
}

.create-contract {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#map {
  width: 100%;
  height: 280px;
}
